/* DARK MODE */
/* @media (prefers-color-scheme: dark) { */
  .about-content-dark h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 5em;
    text-align: left;
    color: white;
  }

  .about-content-dark {
    position: relative;
    left:15em;
  }

  .about-content-dark p {
    font-size: 1.3em;
    text-align: left;
    width: 37em;
    color: white;
  }

    .my-about-dark {
      background-color: rgba(70, 70, 70, 0.616);
      padding: 25px;
      border-radius: 10px;
    }

    
  /* } */