/* DARK MODE */
@media (prefers-color-scheme: dark) {

    .contact-dark {
      position: relative;
      top:20em;
      left:15em;
      text-align: left;
    }
    
    .contact-dark h1 {
        font-family: 'Montserrat', sans-serif;
      font-size: 5em;
      text-align: left;
    }
    
    .lets-dark {
      color:white;
    }
  
    .talk-dark {
      color:#f68426;
      opacity: 1;
    }
    .contact-dark .email {
      color: white;
      font-size: 2em;
    }
    .contact-dark li {
      display: inline-block;
      margin-top: 0;
      margin-bottom: 0;
      margin-right: 1em;
      margin-left: 0;
    }

    .contact-dark h2 {
      color: white;
    }
    .contact-dark li a {
      text-decoration: none;
      color: white;
    }
  }