/* DARK MODE */
@media (prefers-color-scheme: dark) {
    nav {
        background-color: #f68426d8;
    }

    li .link {
        color: white;
    }

    li .link:hover {
        color: #101f40;
    }

}