@import url('https://fonts.googleapis.com/css?family=Montserrat:700|Open+Sans&display=swap');

.theme-switch {
padding-top: 10px;
}

.navbar-light {
    position: fixed;
    left: 2em;
    top: 2em;
    z-index: 100;
    /* display: flex; */
    background-color: #101f40ef;
    border: 1px solid black;
    border-radius: 10px;
}


ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    justify-content: center;
    padding: 10px;
}

li {
    /* display: inline-block; */
    cursor: pointer;
    padding-left: 5px;
    padding-right: 5px;
    padding: 10px;
}

li .link-light {
    text-decoration: none;
    font-weight: 1000;
    color: white;
    padding: 1em;
    opacity: 1;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

li .link-light:hover {
    color: #f68426;
    opacity: 1;
}

.active-light {
    color:#f68426;
    opacity: 1;
}

.drag-handle i {
    color: white;
    padding: 10px;
    float: right;
    cursor: grab;
}


/* SMARTPHONES PORTRAIT */
@media only screen and (min-device-width: 320px) and (max-device-width : 480px) {

}
