.work {
    position: relative;
    display: flex;
    flex-direction: column;
    left:15em;
    top:8em;
    align-items: flex-start;
  }
  .work-heading-light {
    font-family: 'Montserrat', sans-serif;
    font-size: 5em;
    text-align: left;
    color: black;
  }
  .work-content-light {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 2em;
  }
  